@import 'https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&family=Open+Sans:wght@600;700&display=swap';
@import url(../css/normalize.css);
html,
body {
  height: 100%;
}

body {
  font-size: 18px/body baseFontSize0rem;
  font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: #666666;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 95%;
  max-width: 940px;
  margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

table {
  border-collapse: collapse;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.section {
  height: 100vh;
  min-height: 650px/.section baseFontSize0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section--font--white {
  color: white;
}
.section--font--white .section__title {
  color: inherit;
}

.section__title {
  font-size: 48px/.section__title baseFontSize0rem;
  font-weight: bold;
  margin-bottom: 50px/.section__title baseFontSize0rem;
  text-align: center;
  text-transform: uppercase;
  color: black;
}

.headline {
  text-align: center;
}

.headline__title {
  margin-bottom: 7px/.headline__title baseFontSize0rem;
}

.headline__subtitle {
  padding: 0 26%;
  margin-bottom: 35px/.headline__subtitle baseFontSize0rem;
}

.hero {
  background: url(../img/bg.png) center center/cover no-repeat;
  color: #fff;
  margin-bottom: -60px/.hero baseFontSize0rem;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 22px/.hero__container baseFontSize0rem 0 65px/.hero__container baseFontSize0rem;
}

.hero__title-section {
  width: 46%;
}

.hero__main-title {
  font-size: 48px/.hero__main-title baseFontSize0rem;
  line-height: 1.4;
  font-weight: bold;
  margin-bottom: 17px/.hero__main-title baseFontSize0rem;
  text-transform: uppercase;
}

.hero__title-dsc {
  font-size: 21px/.hero__title-dsc baseFontSize0rem;
  margin-bottom: 28px/.hero__title-dsc baseFontSize0rem;
  padding-right: 10%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu__list {
  display: flex;
  align-items: center;
}

.menu__item {
  margin-right: 15px/.menu__item baseFontSize0rem;
}
.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  text-decoration: none;
}

.phone-number {
  font-size: 22px/.phone-number baseFontSize0rem;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.phone-number__icon-elem {
  width: 12px/.phone-number__icon-elem baseFontSize0rem;
  height: 12px/.phone-number__icon-elem baseFontSize0rem;
  margin-right: 6px/.phone-number__icon-elem baseFontSize0rem;
}

.features {
  display: flex;
}

.features__item {
  margin-right: 46px/.features__item baseFontSize0rem;
}
.features__item:last-child {
  margin-right: 0;
}

.feature {
  display: flex;
}

.feature__icon {
  width: 34.7px/.feature__icon baseFontSize0rem;
  margin-right: 7px/.feature__icon baseFontSize0rem;
}

.feature__text {
  font-size: 16px/.feature__text baseFontSize0rem;
  max-width: 85px/.feature__text baseFontSize0rem;
}

.btn {
  display: inline-block;
  font-size: 16px/.btn baseFontSize0rem;
  font-weight: bold;
  padding: 20px/.btn baseFontSize0rem 41px/.btn baseFontSize0rem;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 100px/.btn baseFontSize0rem;
  line-height: 1;
  color: black;
  border: none;
}

.btn--theme--white {
  background: #FEDB3F;
  color: black;
}
.btn--theme--white:hover {
  color: black;
  background: white;
}

.btn--theme--yellow {
  background: #FFD517;
  color: black;
}
.btn--theme--yellow:hover {
  color: black;
  background: white;
}

.btn--theme--transparent {
  background: transparent;
  color: white;
  text-transform: none;
  padding: 20px/.btn--theme--transparent baseFontSize0rem 22px/.btn--theme--transparent baseFontSize0rem;
}
.btn--theme--transparent:hover {
  color: #3a3838;
}

.reviews__switcher {
  display: flex;
  align-items: center;
  justify-content: center;
}

.interactive-avatar {
  width: 80px/.interactive-avatar baseFontSize0rem;
  height: 80px/.interactive-avatar baseFontSize0rem;
  border: 6px/.interactive-avatar baseFontSize0rem solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.interactive-avatar--active {
  border-color: 6px/.interactive-avatar--active baseFontSize0rem solid #FEDB3F;
}

.interactive-avatar-link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
}

.interactive-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.benefits {
  display: flex;
}

.benefits__item {
  flex: 1;
  margin: 0.3%;
  position: relative;
}
.benefits__item::before {
  content: url(../img/Shape.png);
  position: absolute;
  top: 30px/.benefits__item::before baseFontSize0rem;
  right: 0;
  transform: translateX(50%);
}
.benefits__item:first-child {
  margin-left: 0;
}
.benefits__item:first-child {
  margin-right: 0;
}

.benefit {
  text-align: center;
}

.benefit__image-wrapper {
  display: inline-block;
  width: 126px/.benefit__image-wrapper baseFontSize0rem;
  height: 126px/.benefit__image-wrapper baseFontSize0rem;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
}

.benefit__icon {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.benefit__title {
  color: black;
}

.fixed-menu {
  position: fixed;
  top: 20%;
  right: 3%;
  z-index: 100;
}

.fixed-menu__item {
  margin-bottom: 5px/.fixed-menu__item baseFontSize0rem;
}

.fixed-menu__link {
  width: 16px/.fixed-menu__link baseFontSize0rem;
  height: 16px/.fixed-menu__link baseFontSize0rem;
  border-radius: 50%;
  border: 1px/.fixed-menu__link baseFontSize0rem solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link::before {
  content: "";
  width: 6px/.fixed-menu__link::before baseFontSize0rem;
  height: 6px/.fixed-menu__link::before baseFontSize0rem;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fixed-menu__item--active {
  border-color: #fff;
}

.order-section {
  background: url(../img/cta.png) center center/cover no-repeat;
}

.form {
  display: flex;
}

.form__col {
  flex: 1;
  margin-right: 20px/.form__col baseFontSize0rem;
}
.form__col:last-child {
  margin-right: 0;
}

.form__row {
  display: flex;
  margin-bottom: 10px/.form__row baseFontSize0rem;
}
.form__row--textarea {
  margin-bottom: 30px/.form__row--textarea baseFontSize0rem;
}

.form__block {
  flex: 1;
  margin-right: 20px/.form__block baseFontSize0rem;
}
.form__block:last-child {
  margin-right: 0;
}

.form__input {
  width: 100%;
  border: solid 3px/.form__input baseFontSize0rem transparent;
  padding: 16px/.form__input baseFontSize0rem 11px/.form__input baseFontSize0rem;
}
.form__input--textarea {
  height: 152px/.form__input--textarea baseFontSize0rem;
  resize: none;
}
.form__input:focus {
  border-color: #FEDB3F;
  outline: none;
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 18px/.form__controls baseFontSize0rem;
}
.form__controls--margin-bottom {
  margin-bottom: 45px/.form__controls--margin-bottom baseFontSize0rem;
}

.form__btns {
  transform: translate(-10px);
}

.radio {
  display: flex;
  cursor: pointer;
  user-select: none;
  margin-right: 30px/.radio baseFontSize0rem;
}
.radio--checkbox .radio__visible {
  border-radius: 0;
  margin-right: 10px/.radio--checkbox .radio__visible baseFontSize0rem;
}
.radio--checkbox .radio__visible::before {
  background: url(../img/gal.png) center center no-repeat;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible::before {
  display: block;
}

.radio__visible {
  width: 25px/.radio__visible baseFontSize0rem;
  height: 25px/.radio__visible baseFontSize0rem;
  position: relative;
  border-radius: 50%;
  background: #FFFFFF;
}
.radio__visible::before {
  content: "";
  width: 14px/.radio__visible::before baseFontSize0rem;
  height: 14px/.radio__visible::before baseFontSize0rem;
  background: #FEDB3F;
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.reviews__display {
  background: #F8FAF9;
  padding: 42px/.reviews__display baseFontSize0rem 142px/.reviews__display baseFontSize0rem 42px/.reviews__display baseFontSize0rem 42px/.reviews__display baseFontSize0rem;
  margin-bottom: 10px/.reviews__display baseFontSize0rem;
}

.reviews__display-inner {
  display: flex;
}

.reviews__avatar {
  width: 253px/.reviews__avatar baseFontSize0rem;
  height: 262px/.reviews__avatar baseFontSize0rem;
}

.reviews__avatar-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  flex: 1;
  margin-left: 40px/.reviews__content baseFontSize0rem;
  padding-top: 25px/.reviews__content baseFontSize0rem;
}

.reviews__title {
  font-size: 27px/.reviews__title baseFontSize0rem;
  font-weight: bold;
  color: #292929;
  margin-bottom: 12px/.reviews__title baseFontSize0rem;
}

.reviews__text {
  margin-bottom: 25px/.reviews__text baseFontSize0rem;
  line-height: 22px/.reviews__text baseFontSize0rem;
}

.reviews__author {
  font-size: 18px/.reviews__author baseFontSize0rem;
  font-weight: bold;
  color: #292929;
}