.section__why {
    @include phones {
    margin-bottom: rem(150px);
    }
}

.benefits {
    display: flex;

    @include phones {
        flex-direction: column;
    }
}

.benefits__item {
    flex: 1;
    margin: 0.3%;
    position: relative;

    @include phones {
        padding: 0;
        margin-bottom: rem(19px);
    }

    &::before {
        content: url(../img/Shape.png);
        position: absolute;
        top: rem(30px);
        right: 0;
        transform: translateX(50%);
    }

    &:first-child {
        margin-left: 0;
    }

    &:first-child {
        margin-right: 0;
    }
}

.benefit {
    text-align: center;

    @include phones {
        display: flex;
        text-align: left;
    }
}

.benefit__image-wrapper {
    display: inline-block;
    width: rem(126px);
    height: rem(126px);
    position: relative;
    background: #F2F5F4;
    border-radius: 50%;
    overflow: hidden;
    padding: rem(30px);
    flex-shrink: 0;

    @include tablets {
        margin-bottom: rem(20px);
    }

    @include phones {
        margin-right: rem(10px);
    }
}

.benefit__icon {
    max-width: 100%;
    max-height: 100%;
    
}

.benefit__title {
    color: black;
    font-size: rem(27px);
    line-height: rem(32px);
    margin-bottom: rem(20px);

    @include tablets {
        margin-bottom: rem(7px);
    }
}

.benefit__image {
    @include phones {
        margin-bottom: 0;
        margin-right: rem(20px);
    }
}
