.benefits {
    display: flex;

    @include phones {
        flex-direction: column;
    }
}

.benefits__item {
    flex: 1;
    margin: 0.3%;
    position: relative;

    @include phones {
        padding: 0;
        margin-bottom: 19px;
    }

    &::before {
        content: url(../img/Shape.png);
        position: absolute;
        top: 30px;
        right: 0;
        transform: translateX(50%);
    }

    &:first-child {
        margin-left: 0;
    }

    &:first-child {
        margin-right: 0;
    }
}

.benefit {
    text-align: center;

    @include phones {
        display: flex;
        text-align: left;
    }
}

.benefit__image-wrapper {
    display: inline-block;
    width: 126px;
    height: 126px;
    position: relative;
    background: #F2F5F4;
    border-radius: 50%;
    overflow: hidden;
}

.benefit__icon {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.benefit__title {
    color: black;
}

.benefit__image {
    @include phones {
        margin-bottom: 0;
        margin-right: 20px;
    }
}
