.btn {
    display: inline-block;
    font-size: rem(16px);
    font-weight: bold;
    padding: rem(20px) rem(41px);
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 100px;
    line-height: 1;
    color: black;
    border: none;
}

    .btn--theme--white {
        background: #FEDB3F;
        color: black; 
    
        

    &:hover {
        color: black;
        background: white;
    }
}


    .btn--theme--yellow {
        background: #FFD517;
        color: black;
        margin-right: rem(200px);
    

    &:hover {
        color: black;
        background: white;
    }
}


    .btn--theme--transparent {
        background: transparent;
        color: white;
        text-transform: none;
        padding: rem(20px) rem(22px);
       

        
    

    &:hover {
        color: rgb(58, 56, 56);
    }
}

    