.features {
    display: flex;
    
    @include tablets {
        display: none;
    }
}

.features__item {
    margin-right: rem(46px);
    
    &:last-child {
        margin-right: 0;
    }
}

.feature {
    display: flex;
}

.feature__icon {

    width: rem(34.7px);
    margin-right: rem(7px);
}

.feature__text {
    font-size: rem(16px);
    max-width: rem(85px);
}