.features {
    display: flex;
    
    @include tablets {
        display: none;
    }
}

.features__item {
    margin-right: 46px;
    
    &:last-child {
        margin-right: 0;
    }
}

.feature {
    display: flex;
}

.feature__icon {

    width: 34.7px;
    margin-right: 7px;
}

.feature__text {
    font-size: 16px;
    max-width: 85px;
}