.header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @include tablets {
        margin-bottom: 382px;
        background: #1968B1;

    }
    
}

.phone-number.header__phone-number {
    @include tablets {
        display: none;
    }
}

.menu {
    margin: 0 30px;
    padding-top: 5px;

    @include tablets {
        display: none;
    }
}

.menu__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    
  }

  .menu__item {
      margin-right: 15px;
      margin-bottom: 10px;

      &:last-child {
          margin-right: 0;
      }
  }

  .menu__link {
      text-decoration: none;
      white-space: nowrap;
  }

  .phone-number__icon {
      flex-shrink: 0;
  }

  .phone-number__text {
      white-space: nowrap;
  }

  .phone-number {
      font-size: 22px;
      text-decoration: none;
      display: flex;
      align-items: center;
  }

  .phone-number__icon-elem {
      width: 12px;
      height: 12px;
      margin-right: 6px;
  }