.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.menu__list {
    display: flex;
    align-items: center;
    
  }

  .menu__item {
      margin-right: rem(15px);

      &:last-child {
          margin-right: 0;
      }
  }

  .menu__link {
      text-decoration: none;
  }

  .phone-number {
      font-size: rem(22px);
      text-decoration: none;
      display: flex;
      align-items: center;
  }

  .phone-number__icon-elem {
      width: rem(12px);
      height: rem(12px);
      margin-right: rem(6px);
  }