.hero {
    background: url(../img/bg.png) center center / cover no-repeat ;
    color: #fff;
    margin-bottom: rem(60px);

   

}

.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: rem(22px) 0 rem(65px);

    @include tablets {
        padding: 0;
    }
}

.hero__title-section {
    width: 46%;

    @include tablets {
        width: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

}

.hero__main-title {
    font-size: rem(48px);
    line-height: 1.4;
    font-weight: bold;
    margin-bottom: rem(17px);
    text-transform: uppercase;

    @include tablets {
        margin-bottom: rem(3px);
    }

   

    
}

.hero__title-dsc {
    font-size: rem(21px);
    margin-bottom: rem(28px);
    padding-right: 10%;

    @include tablets {
        padding-right: 0;
        margin-bottom: rem(40px);
    }

    @include phones {
        padding: rem(16px);
    }
    
}