.section__reviews {
    margin-bottom: rem(100px);
}

.iews__display {
    background: #F8FAF9;
    padding: rem(42px) rem(142px) rem(42px) rem(42px);
    margin-bottom: rem(10px);

    @include tablets {
        padding: rem(56px) rem(24px) rem(46px);
        margin-bottom: rem(20px);
    }
    
}

.reviews__display {
    padding: 42px 142px 42px 42px;
    background: #F8FAF9;
    margin-bottom: rem(15px);

    @include tablets {
        padding: 56px 24px 46px;
        margin-bottom: rem(32px);
    }
    
    @include phones {
        padding: 56px 24px 31px;
    margin-bottom: rem(29px);
    }
}


.reviews__display-inner {
    display: flex;

    @include tablets {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
}

.reviews__avatar {
    width: rem(253px);
    height: rem(262px);

    @include tablets {
        width: rem(130px);
        height: rem(130px);
    }
}

.reviews__avatar-img {
    object-fit: cover;
    width: 100%;
    height: 100%;

    

}

.reviews__content {
    flex: 1;
    margin-left: rem(40px);
    padding-top: rem(25px);

    @include tablets {
        margin-left: 0;
        padding-top: rem(30px);
    }

}

.reviews__main-title {
    margin-bottom: rem(26px);
}

.reviews__title {
    font-size: rem(27px);
    font-weight: bold;
    color: #292929;
    margin-bottom: rem(12px);

    @include tablets {
        margin-bottom: rem(16px);
    }

    @include phones {
        margin-bottom: rem(12px);
    }
}

.reviews__text {
    margin-bottom: rem(25px);
    line-height: rem(22px);

    
    @include tablets {
        margin-bottom: rem(16px);

    }

    @include phones {
        margin-bottom: rem(12px);
    }
}

.reviews__author {
    font-size: rem(18px);
    font-weight: bold;
    color: #292929;

   

}